<div *ngIf="bus.length > 0 && tram.length > 0" class="mt-2 ml-2 flex gap-2">
  <button (click)="changeInActiveBus()" [class]="buttonClassBus">
    Autobus
  </button>
  <button (click)="changeInActiveTram()" [class]="buttonClassTram">Tram</button>
</div>
<section class="p-2">
  <div *ngIf="toggleBus" class="grid grid-cols-3 gap-2 text-center">
    <div *ngFor="let mezzo of bus">
      <img
        [src]="busList[randomNumBus]"
        class="cursor-pointer hover:brightness-125"
      />
      {{ mezzo.codice }}
    </div>
  </div>
</section>
<section class="p-2">
  <div *ngIf="toggleTram" class="grid grid-cols-3 gap-2 text-center">
    <div *ngFor="let mezzo of tram">
      <img
        [src]="tramList[randomNumTram]"
        class="cursor-pointer hover:brightness-125"
      />
      {{ mezzo.codice }}
    </div>
  </div>
</section>
