<div>
  <h3 class="text-[40px]">Utente: {{ utente.nome }} {{ utente.cognome }}</h3>

  <ul>
    <li>Nome: {{ utente.nome }}</li>
    <li>Cognome: {{ utente.cognome }}</li>
    <li>Data di nascita: {{ utente.dataNascita | date }}</li>
    <li>Email: {{ utente.email }}</li>
  </ul>

  <ng-container *ngIf="showTessera && utente.tessera">
    <p>Tessera: {{ utente.tessera.codice }}</p>
  </ng-container>

  <div class="text-center" *ngIf="!utente.tessera">
    <h5 class="text-3xl">
      Richiedi la tua tessera per acquistare fantastici abbonamenti!
    </h5>
    <img
      class="rounded-xl"
      src="https://hatchgreencoaches.co.uk/mobile/images/travel-card/bus-travel-card-taunton.jpg"
      alt="Tessera"
    />
    <select name="rivenditore" id="rivenditore" [(ngModel)]="rivenditoreId">
      <option value="">-- seleziona rivenditore --</option>
      <option
        value=""
        *ngFor="let rivenditore of rivenditori"
        [value]="rivenditore.id"
      >
        {{ rivenditore | json }}
      </option>
    </select>
    <button
      type="button"
      (click)="generaTessera()"
      class="bg-blue-500 text-white px-4 py-2 rounded cursor-pointer hover:scale-110 hover:text-blue-500 hover:bg-white transition-all duration-300 mt-5"
    >
      Richiedi
    </button>
  </div>
</div>
