// Colori Istituzionali
// BLU = #012F45
// ROSSO = #F10120
// GRIGIO = #E2E0DE

main {
  position: absolute;
  width: 100vw;
  top: 88px;
  height: calc(100vh - 88px);
  animation: appear 1s;
  overflow: auto;
  background-color: #cbd5e1;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

section {
  animation: appear 1s;
}
