<nav
  class="text-white bg-[#012F45] py-1 pr-3 md:pr-5 text-center flex items-center justify-between fixed w-full top-0 z-30"
>
  <!-- 88px -->
  <!-- <div
    *ngIf="toggleBackoffice"
    class="absolute top-[88px] left-0 z-50 bg-[#012F45] text-white w-full py-2 flex flex-col gap-2 backoffice"
  >
    <a
      (click)="activateToggle()"
      routerLink="/rivenditori"
      class="hover:bg-white hover:text-[#012F45]"
      >Inserisci Rivenditori</a
    >
    <a
      (click)="activateToggle()"
      routerLink="/mezzi"
      class="hover:bg-white hover:text-[#012F45]"
      >Parco Mezzi</a
    >
    <a
      (click)="activateToggle()"
      routerLink="/insert-tratta"
      class="hover:bg-white hover:text-[#012F45]"
      >Inserisci tratta</a
    >
    <a
      (click)="activateToggle()"
      routerLink="/inserimentoMezzi"
      class="hover:bg-white hover:text-[#012F45]"
      >Inserisci mezzi</a
    >
  </div> -->
  <div
    class="flex justify-start items-center gap-5 w-full lg:justify-center lg:gap-20"
  >
    <a [routerLink]="'/'"
      ><img src="/img/Logo.png" alt="logo" class="max-h-[5rem] rounded-full"
    /></a>
    <a
      *ngIf="utente"
      [routerLink]="'/home'"
      class="cursor-pointer hover:text-[#F10120]"
      >Home</a
    >

    <a
      *ngIf="utente && utente.ruolo === 'admin'"
      [routerLink]="'/backoffice'"
      class="cursor-pointer hover:text-[#F10120]"
      (click)="activateToggle()"
      >Backoffice</a
    >
  </div>

  <a
    *ngIf="utente && utente.ruolo === 'utente'"
    [routerLink]="'/user'"
    class="cursor-pointer hover:bg-white hover:text-[#012F45] rounded-full border"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-7 p-1"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
      />
    </svg>
  </a>
</nav>
