<div class="text-center p-24 text-3xl">
  <h2>Acquista il tuo abbonamento</h2>
</div>
<section class="bg-slate-300 w-full flex justify-center items-center">
  <form
    #subscriptionForm="ngForm"
    (ngSubmit)="onSubmit()"
    class="p-4 flex flex-col text-center border justify-center items-center shadow-md mt-[12rem] lg:mt-0 md:mt-[7rem]"
  >
    <!-- Submit -->
    <button
      type="button"
      class="px-4 py-2 rounded cursor-pointer hover:scale-105 transition-all duration-300 bg-blue-500 text-white"
      (click)="onSubmit()"
    >
      Scopri i nostri abbonamenti
    </button>
  </form>
</section>

<section
  *ngIf="showSubscriptionOptions"
  class="bg-slate-300 w-full flex justify-center items-center"
>
  <div class="grid grid-cols-2 lg:grid-cols-4 gap-2">
    <!-- Mensile -->
    <div class="flex flex-col bg-white p-2 gap-1">
      <h2 class="text-[1.2rem] text-[#F10120]">Mensile</h2>
      <p><s>Posti a sedere prenotati</s></p>
      <p><s>Clemenza del controllore</s></p>
      <p><s>Aria condizionata</s></p>
      <p><s>Wifi</s></p>
      <p class="text-red-500">
        Obbligo di cessione del posto<br />ad abbonati superiori
      </p>
      <h3 class="text-[1.5rem]">50€</h3>
      <button
        type="button"
        class="px-4 py-2 rounded cursor-pointer hover:scale-105 transition-all duration-300 bg-blue-500 text-white"
        (click)="purchaseSubscription('mensile')"
      >
        Acquista
      </button>
    </div>
    <!-- Bimestrale -->
    <div class="flex flex-col bg-white p-2 gap-1">
      <h2 class="text-[1.2rem] text-[#F10120]">Bimestrale</h2>
      <p><s>Posti a sedere prenotati</s></p>
      <p><s>Clemenza del controllore</s></p>
      <p class="text-blue-500">Aria condizionata</p>
      <p><s>Wifi</s></p>
      <p class="text-red-500">
        Obbligo di cessione del posto<br />ad abbonati superiori
      </p>
      <h3 class="text-[1.5rem]">99€</h3>
      <button
        type="button"
        class="px-4 py-2 rounded cursor-pointer hover:scale-105 transition-all duration-300 bg-blue-500 text-white"
        (click)="purchaseSubscription('bimestrale')"
      >
        Acquista
      </button>
    </div>
    <!-- Trimestrale -->
    <div class="flex flex-col bg-white p-2 gap-1">
      <h2 class="text-[1.2rem] text-[#F10120]">Trimestrale</h2>
      <p class="text-blue-500">Posti a sedere prenotati</p>
      <p class="text-blue-500">Clemenza del controllore</p>
      <p class="text-blue-500">Aria condizionata</p>
      <p><s>Wifi</s></p>
      <p class="text-red-500">
        Obbligo di cessione del posto<br />ad abbonati superiori
      </p>
      <h3 class="text-[1.5rem]">170€</h3>
      <button
        type="button"
        class="px-4 py-2 rounded cursor-pointer hover:scale-105 transition-all duration-300 bg-blue-500 text-white"
        (click)="purchaseSubscription('trimestrale')"
      >
        Acquista
      </button>
    </div>
    <!-- Annuale -->
    <div class="flex flex-col bg-white p-2 gap-1">
      <h2 class="text-[1.2rem] text-[#F10120]">Annuale</h2>
      <p class="text-blue-500">Posti a sedere privilegiati</p>
      <p class="text-blue-500">Caffè offerto dal controllore</p>
      <p class="text-blue-500">Aria condizionata</p>
      <p class="text-blue-500">Wifi</p>
      <p class="text-green-600">Posto garantito<br />sempre e comunque</p>
      <h3 class="text-[1.5rem]">610€</h3>
      <button
        type="button"
        class="px-4 py-2 rounded cursor-pointer hover:scale-105 transition-all duration-300 bg-blue-500 text-white"
        (click)="purchaseSubscription('annuale')"
      >
        Acquista
      </button>
    </div>
  </div>
</section>
