<div><button (click)="inserisciTratta()">Inserisci Tratta</button></div>
<div><button (click)="modificaTratta()">Modifica Tratta</button></div>
<div><button (click)="cancellaTratta()">Cancella Tratta</button></div>
<hr />
<div>
  <button (click)="creaRivenditoreFisico()">Crea rivenditore fisico</button>
</div>
<div>
  <button (click)="creaRivenditoreAutomatico()">
    Crea rivenditore automatico
  </button>
</div>
<div>
  <button (click)="modificaRivenditoreFisico()">
    Modifica rivenditore fisico
  </button>
</div>
<div>
  <button (click)="modificaRivenditoreAutomatico()">
    Modifica rivenditore automatico
  </button>
</div>
<div>
  <button (click)="cancellaRivenditore()">Cancella rivenditore</button>
</div>
<hr />
<div><button (click)="creaMezzo()">Inserisci mezzo</button></div>
<div><button (click)="modificaMezzo()">Modifica mezzo</button></div>
<div><button (click)="cancellaMezzo()">Cancella mezzo</button></div>
<hr />
<div><button (click)="creaUtente()">Crea utente</button></div>
<div><button (click)="modificaUtente()">Modifica utente</button></div>
<div><button (click)="cancellaUtente()">Cancella utente</button></div>
<hr />
<div><button (click)="createssera()">Crea tessera</button></div>
<div><button (click)="rinnovatessera()">Rinnova tessera</button></div>
<div><button (click)="cancellatessera()">Cancella tessera</button></div>
<hr />
<div><button (click)="creaGiornaliero()">Crea giornaliero</button></div>
<div>
  <button (click)="creaAbbonamento()">Crea abbonamento</button>
</div>
<div>
  <button (click)="cancellaBiglietto()">Cancella biglietto/abbonamento</button>
</div>
