<div><button (click)="inserisciTratta()">Inserisci Tratta</button></div>
<div><button (click)="modificaTratta()">Modifica Tratta</button></div>
<div><button (click)="cancellaTratta()">Cancella Tratta</button></div>
<!-- <hr />
<div>
  <button (click)="creaRivenditoreFisico()">Crea rivenditore fisico</button>
</div>
<div>
  <button (click)="creaRivenditoreAutomatico()">
    Crea rivenditore automatico
  </button>
</div> -->
<hr />
<div><button (click)="creaMezzo()">Inserisci mezzo</button></div>
<div><button (click)="modificaMezzo()">Modifica mezzo</button></div>
<div><button (click)="cancellaMezzo()">Cancella mezzo</button></div>
