<h3 class="text-center pt-32 pb-5 text-3xl">Inserisci il nuovo rivenditore</h3>
<section class="bg-slate-300 w-full flex justify-center items-center">
  <form
    #locationForm="ngForm"
    (ngSubmit)="onSubmit(locationForm.value)"
    class="p-4 flex flex-col text-center border justify-center items-center shadow-md mt-[12rem] lg:mt-0 md:mt-[7rem]"
  >
    <!-- Tipo di Servizio -->
    <div class="mb-4">
      <label class="block text-sm font-medium mb-3 text-[1.5rem]">
        Tipo di Servizio
      </label>
      <div class="flex gap-4 justify-center">
        <button
          type="button"
          [ngClass]="{
            'bg-blue-500 text-white': formData.serviceType === 'fisico',
            'bg-gray-200 text-black': formData.serviceType !== 'fisico'
          }"
          (click)="formData.serviceType = 'fisico'"
          class="px-4 py-2 rounded cursor-pointer hover:scale-105 transition-all duration-300"
        >
          Fisico
        </button>
        <button
          type="button"
          [ngClass]="{
            'bg-blue-500 text-white': formData.serviceType === 'automatico',
            'bg-gray-200 text-black': formData.serviceType !== 'automatico'
          }"
          (click)="formData.serviceType = 'automatico'"
          class="px-4 py-2 rounded cursor-pointer hover:scale-105 transition-all duration-300"
        >
          Automatico
        </button>
      </div>
    </div>

    <!-- Campi per Rivenditore Fisico -->
    <div *ngIf="formData.serviceType === 'fisico'">
      <!-- Giorno di Chiusura -->
      <div class="mb-4">
        <label
          for="giornoChiusura"
          class="block text-sm font-medium mb-3 text-[1.5rem]"
          >Giorno di Chiusura</label
        >
        <input
          type="number"
          id="giornoChiusura"
          name="giornoChiusura"
          [(ngModel)]="formData.giornoChiusura"
          min="1"
          max="7"
          required
          class="border rounded px-2 py-1 w-full outline-none"
        />
      </div>

      <!-- Orario di Apertura -->
      <div class="mb-4">
        <label
          for="oraApertura"
          class="block text-sm font-medium mb-3 text-[1.5rem]"
          >Orario di Apertura</label
        >
        <input
          type="time"
          id="oraApertura"
          name="oraApertura"
          [(ngModel)]="formData.oraApertura"
          required
          class="border rounded px-2 py-1 w-full outline-none"
        />
      </div>

      <!-- Orario di Chiusura -->
      <div class="mb-4">
        <label
          for="oraChiusura"
          class="block text-sm font-medium mb-3 text-[1.5rem]"
          >Orario di Chiusura</label
        >
        <input
          type="time"
          id="oraChiusura"
          name="oraChiusura"
          [(ngModel)]="formData.oraChiusura"
          required
          class="border rounded px-2 py-1 w-full outline-none"
        />
      </div>
    </div>

    <!-- Campi per Rivenditore Automatico -->
    <div *ngIf="formData.serviceType === 'automatico'" class="mb-4">
      <label for="attivo" class="block text-sm font-medium mb-3 text-[1.5rem]"
        >Attivo</label
      >
      <select
        id="attivo"
        name="attivo"
        [(ngModel)]="formData.attivo"
        required
        class="border rounded px-2 py-1 w-full outline-none"
      >
        <option value="">Seleziona</option>
        <option value="true">Sì</option>
        <option value="false">No</option>
      </select>
    </div>

    <!-- Zona -->
    <div class="mb-4">
      <label for="zone" class="block text-sm font-medium mb-3 text-[1.5rem]"
        >Zona</label
      >
      <input
        type="text"
        id="zone"
        name="zone"
        [(ngModel)]="formData.zone"
        required
        class="border rounded px-2 py-1 w-full outline-none"
      />
    </div>

    <!-- Submit -->
    <button
      type="submit"
      [disabled]="!locationForm.valid"
      class="bg-blue-500 text-white px-4 py-2 rounded cursor-pointer hover:scale-110 hover:text-blue-500 hover:bg-white transition-all duration-300 mt-5"
    >
      Procedi
    </button>
  </form>
</section>
